**/__pycache__/
.idea/
/data/interim/
/data/raw/
/data/processed/rag-musicxml/
/data/processed/pretty_midi.sqlite
expfigs/
src/data/_create_ragfiles_dataset.py
src/data/_ragfiles_dataset.py
src/data/make-musicxml-files.py
src/data/RagDataset.py
src/data/testspeed.py
src/data/work-on-titles.py
/src/experiments/bip-freq.py
/src/experiments/check-upbeats.py
/src/experiments/density-experiment.py
/src/experiments/dumbo.py
/src/experiments/lhl-stats.py
/src/experiments/sanity-check-16bips.py
/src/experiments/sanity-checks.py
/src/experiments/transitions.py
/src/copy-rags2.py
/src/editdist.py
/src/fix-pk-compendium2.py
/src/functions.py
/src/midi-drum-beats.py
/src/music21debug.py
/src/pipeline.py
/src/start.py
/src/starting-experiments.py
/src/timing.py
